.navdark{
    background-image: url(/assets/img/background.svg);
    background-color: #222222;
}

.navlight{
    background-color: #b3b3b3;
}

.blacktext{
    color: black;
}
.header-fix {
    position: absolute;
    top: -2px;
    right: 11rem;
    padding-top: 1rem;
}