<div *ngIf="signed_in; else signInPrompt">
    <div class="box center-all">
        <h2>Welcome to Mainstreamify, {{ user?.username }}!</h2>
        <div>
            <strong>Let's check your recent tracks!</strong><br><br>
            <div class="alert alert-error" *ngIf="recentSubmitClicked && recentErrors.length">
                Please fix the errors below:
                <li *ngFor="let item of recentErrors">{{ item }}</li>
            </div>
            <form [formGroup]="recentForm" id="recentForm">
                <mat-form-field appearance="legacy" style="width: 50px;" color="accent">
                    <input matInput type="number" placeholder="Limit" formControlName="limit">
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>After</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="after">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>Before</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="before">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                <button mat-raised-button id="topbtn" color="primary" (click)="submitRecentTracks()">Submit</button>
            </form>
        </div>
        <div id="recentTracksResults">
            <div *ngFor="let item of recentResults">
                <span style="color: #bfbfbf;">{{ moment(item.played_at).fromNow() }}</span><br>
                <a href="{{ item.track.external_urls.spotify }}" target="_blank"><img src="{{ item.track.album.images[1].url }}" width="120px"></a><br>
                <em>{{ item.track.name }}</em><br>
                {{ item.track.artists[0].name }}<br>
                {{ item.track.album.name }}
            </div>
        </div>
    </div>
</div>
<ng-template #signInPrompt>
    <div *ngIf="!signed_in" class="center-h-v">
        <h2>Welcome to Mainstreamify!</h2>
        Mainstreamify puts some helpful numbers to your musical taste so you can better understand your listening habits.<br>
        Sign in with your Spotify account to get started.<br><br>
        <div>
            <a (click)="signIn()" target="_blank"><button color="primary" mat-raised-button style="margin-right: 1rem;">Sign In with Spotify</button></a>
        </div>
    </div>
</ng-template>