<div class="box center">
    <div class="settings center-all">
        <!-- <p id="savedtag" style="visibility: hidden;">Settings Saved!</p>
        <p id="errortag" style="visibility: hidden;">Error in Bio: Exceeds 500 chars</p> -->
        <h1 class="clear-color-full">Settings</h1>
        <form [formGroup]="settingsForm" class="settings-form">
            <h3 class="box-title">Profile Description</h3>
            <div *ngIf="showBioError" class="alert alert-error">
                Profile Description cannot exceed 250 characters.
            </div>
            <p>Enter a cool description for your profile here (e.g. favorite artists, genres, and musical taste).</p>
            <mat-form-field appearance="legacy" color="accent" style="width: 75%">
                <textarea matInput placeholder="My name is John Doe and my favorite artists are Foals, Coldplay, and Avicii" type="text" formControlName="bio" id="bio"></textarea>
            </mat-form-field>
        </form>
        <button mat-raised-button id="topbtn" color="primary" (click)="submitProfileBio()" [class.disable-click]="showBioError">Save Profile</button>

        <hr>
        <h1 class="clear-color-full">Actions</h1>
        <div class="settings-option">
            <h3 class="box-title">Delete Account</h3>
            <p>
                Permanently deletes all of your data from our database (session keys, user data, and Spotify data).<br>
                You are welcomed and encouraged to re-link your Spotify account at any point in the future!
            </p>
            <p matTooltip="You are not allowed to delete your account at this time." matTooltipPosition="above">
                <button class="disable-click" color="primary" style="background: #ba0000;" mat-raised-button type="submit" (click)="deleteAccount()">Delete Account</button>
            </p>
        </div>
    </div>
</div>